@charset"utf-8";

html, body {
    /*height: 100%;*/
    height: auto;
}

body{
    width: auto;
    /*padding-bottom: 100%;*/   /*枠線を画面下いっぱいまで広げる*/
    /*border: 10px solid #47a89c;*/
    border: 10px solid #008080;
    box-sizing: border-box;
    background: #fafad2;
    /*border-radius: 50px;*/ /*角丸*/
}

.hisohiso p{
  font-size: 2px;
}

.journalContent p{
    font-family: 'Noto Serif SC', serif;
}
