@charset"utf-8";

.mainContainer{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    /*border:5px solid black;*/ /*debug*/
}

.prevArea{
    width: 10%;
}

.contentArea{
    width: 80%;
}

.nextArea{
    width: 10%;
}